@import "tailwindcss";

/* Tus utilidades con @apply */
@layer components {
  .section {
    @apply py-16 px-6 md:px-8 lg:px-12;
  }

  .card {
  @apply rounded-2xl bg-white text-black shadow-[0_10px_30px_rgba(0,0,0,0.15)];
}


  .btn {
    @apply inline-flex items-center gap-2 rounded-xl px-5 py-3 font-semibold transition;
  }

  .btn-outline {
    @apply border border-white/70 text-white hover:bg-white hover:text-black;
  }

  .btn-solid {
    @apply bg-black text-white hover:opacity-90;
  }

  .badge {
    @apply inline-block rounded-full bg-white/10 px-3 py-1 text-sm text-white;
  }
}
